

#landing-top{
  height:750px;
  background: url('../images/landing.jpg') no-repeat 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
}
.advert #landing-top{
  background-image: url('../images/landingcoast.jpg');
}
#landing-top:after{
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 185px;
  background: linear-gradient(to top, #000, transparent);
  opacity: 0.4;
  left:0;
  bottom:0;
}
#landing-top .inside{
  margin-top: 0;
  height:100%;
  position: relative;
}
#landing-top .background-legend,
#landing-top .content{
  position: absolute;
  z-index: 5;
}
#landing-top .content{
  top: 50%;
  left: 50%;
  width: 63%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
#landing-top h1{
  color: #fff;
}
#landing-top .search-form{
  background-color: #fff;
  padding: 18px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  clear: both;
}
#landing-top .tab{
  font-size: 1.125em;
  width: 200px;
  float: left;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #E7E7E7;
  text-align: center;
  padding: 11px;
  position: relative;
  cursor: pointer;
}
#landing-top .tab span{
  display: inline-block;
  font-weight:500;
  height: 24px;
  line-height:24px;
}
#landing-top .tab.active i{
  color: #7ED321;
}
#landing-top .tab:not(.active){
  margin-top: 6px;
  font-size: 1.1em;
}
#landing-top .find-adverts:not(.active){
  margin-left: -8px;
}
#landing-top .trips:not(.active){
  margin-right: -8px;
}
#landing-top .tab.active{
  background-color: #fff;
  padding:14px;
  z-index: 5;
}
#landing-top .tab.active span{
  color: #72BF1F;
  font-weight: 600;
}
#landing-top form > div{
  display: inline-block;
}
#landing-top .form-item{
  width:calc(100% - 190px);
}
#landing-top .form-item input{
  width:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 11px;
  padding-bottom: 10px;
}
#landing-top .form-action input{
  padding-top: 10px;
  padding-bottom: 9px;
}
#landing-top .form-action{
  float: right;
}
#landing-top .background-legend{
  width:calc(100% - 80px);
  bottom: 10px;
}
#landing-top .background-legend span,
#landing-top .background-legend a{
  color: #fff;
}
#landing-top .background-legend .top{
  width:100%;
  text-align: right;
  border-bottom: solid 1px rgba(255,255,255,0.5);
}
#landing-top .background-legend .bottom{
  text-align: right;
}
#landing-top .background-legend span{
  font-size: 0.8125em;
  font-weight:500;
  display: inline-block;
  margin: 20px 0;
}
#landing-top .background-legend .see-more{
  margin-left: 40px;
}
#travel-selections h2{
  display: inline-block;
}
#travel-selections .selections-menu{
  float: right;
}
#travel-selections .selections-menu li{
  display: inline-block;
  color: #72BF1F;
  font-weight:500;
  margin-left: 2em;
  margin-top: 50px;
}
#build-your-trip{
  clear: both;
  background: url('../images/builyourtrip.jpg') no-repeat 50% 50%;
  background-size: cover;
  text-align: center;
  padding: 80px 0;
  position: relative;
  margin: 80px 0;
}
#build-your-trip > .inside{
  position: relative;
  z-index: 5;
}
#build-your-trip h2,
#build-your-trip > .inside > p{
  color: #fff;
}
#build-your-trip h2{
  margin: 0;
}
#build-your-trip .cards{
  display: flex;
  justify-content: space-between;
}
#build-your-trip .card{
  background-color: #fff;
  background-position: 50% 45px;
  background-repeat: no-repeat;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  padding: 30px;
  padding-top: 100px;
  margin-right: 20px;
  text-align: center;
  -webkit-box-shadow:  0 0 30px rgba(0,0,0,0.1);
  -moz-box-shadow:  0 0 30px rgba(0,0,0,0.1);
  box-shadow:  0 0 30px rgba(0,0,0,0.1);
}
#build-your-trip .card:last-child{
  margin-right: 0;
}
#build-your-trip .card p{
  font-weight: 100;
  line-height: 27px;
}
#build-your-trip:before{
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height:50%;
  background: linear-gradient(to bottom, #000, transparent);
  opacity: 0.6;
  left:0;
  top: 0;
}
#build-your-trip .cards{
  margin: 80px 0;
}
.define-your-route{
  background-image: url('../images/define-route.svg');
}
.manage-your-budget{
  background-image: url('../images/wallet-green.svg');
}
.find-places{
  background-image: url('../images/anchor-green.svg');
}
.discover-spots{
  background-image: url('../images/camera-green.svg');
}
#meet-travel-mates h2, #meet-travel-mates p{
  text-align: center;
  max-width: 1200px;
  padding: 0px 40px;
  margin: 0 auto;
}
#meet-travel-mates h2 + p{
  font-size: 1.125em;
  color: #9B9B9B;
  font-weight: 200;
  margin-top: 40px;
}
#meet-travel-mates .slider{
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 500px;
  margin: 50px 0;
}
#meet-travel-mates .cards{
  width: 2300px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}
#meet-travel-mates .card{
  background: #FFFFFF;
  box-shadow: 0 0 18px 0 rgba(0,0,0,0.05);
  border-radius: 6px;
  width: 400px;
  height: 400px;
  box-sizing: border-box;
  padding: 40px 30px 15px 30px;
  text-align: center;
  display: block;
}
#meet-travel-mates .card .user-thumbnail{
  height: 150px;
  width: 150px;
  margin: 0 auto 19px auto;
}
#meet-travel-mates .card p,
#meet-travel-mates .card .date span{
  font-weight: 100;
  color: #9B9B9B;
  margin: 10px 0;
}
#meet-travel-mates .card .user-name span{
  font-weight:500;
  font-size: 1.33em;
  color: #252525;
}
#meet-travel-mates .card .date span{
  display: block;
  font-size: 0.875em;
  color: #4A4A4A;
}
#meet-travel-mates .card.active{
  transform: scale(1.12);
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.10);
}
#meet-travel-mates .inside{
  text-align: center;
}
#explore img{
  width: 100%;
  height:500px;
}